[2017-11-05 16:56] Razzeee opened #2 "Don't blacklist unwanted file formats, whitelist them"
Just an idea, we're currently blacklisting file endings and filenames, I feel like it might make sense to whitelist instead.

[2017-11-05 16:58] Razzeee opened #3 "Validate all images and xmls"
In general file handling should be refactored again and can be made more performant and elegant.

Current idea:
Walk the folder one time, create a dict and filter by file ending, then apply the checks we want on those file endings. Should work for most "one file checks".

[2017-11-05 20:06] Razzeee opened #4 "Ignore addons that are marked broken"

[2017-11-06 08:58] Razzeee opened #5 "Only check for new language folder structure in everything newer then isengard"

[2017-11-06 11:35] MartijnKaijser commented on #5
Might be isengard already
https://github.com/xbmc/repo-resources/tree/isengard

[2017-11-07 15:16] Razzeee opened #6 "Validate addon.xml beginning"
Take any addon.xml. Change the header from this:

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>

to these:

<?xml version="1.0.1" encoding="UTF-8" standalone="yes"?>

That used to break the repo update script.

[2017-11-07 23:04] #4 closed

[2017-11-12 12:41] #3 closed

[2017-11-12 12:44] #2 closed

[2017-11-18 17:50] MartijnKaijser opened #11 "Exclude images warnings from certain addon types"
The following types should only have icon.png as mandatory
- Modules
- Context
- font
- language

Might be others out there?

[2017-11-18 18:09] MartijnKaijser opened #12 "Add to plugin repo"
Plugin repo is most prone to error so we should add this asap :)

[2017-11-19 00:00] Razzeee commented on #11
`metadata.` maybe?

What's the folder name for fonts anyway?

[2017-11-19 22:22] Razzeee commented on #11
Added some here https://github.com/xbmc/addon-check/commit/749ab0cbaa6c42a30b5e4f33bd3acbcae59ac4e7

[2017-11-22 23:09] Razzeee commented on #12
All needed PRs have been opend

[2017-11-22 23:09] #12 closed

[2017-11-22 23:10] Razzeee commented on #5
We've added a config file for this behaviour

[2017-11-22 23:10] #5 closed

[2017-11-22 23:10] Razzeee commented on #11
Closing this, until somebody tells me what else to exclude.

[2017-11-22 23:10] #11 closed

[2017-11-27 19:04] MartijnKaijser opened #13 "strip travis build paths from log"
Maybe strip the travis paths from the log outputs like
`
PROBLEM: Invalid xml found. /home/travis/build/xbmc/repo-plugins/plugin.video.reddit_viewer/resources/settings.xml`

[2017-11-27 19:13] MartijnKaijser opened #14 "Make license check case insensative"
Some have "License.txt" or whatever

[2017-11-27 21:14] Razzeee commented on #13
Hrm, it's quite useful, if you run it locally. But I guess we could remove that fixed travis string?

[2017-11-27 21:26] Razzeee commented on #14
Fixed by https://github.com/xbmc/addon-check/commit/968bc096f222cf4754c4ed6b6092febef7c79d00

[2017-11-27 21:26] #14 closed

[2017-12-10 12:28] MartijnKaijser opened #15 "Only check broken add-ons for addon.xml error and skip the rest"
Since the add-on is already marked broken we might as well skip the rest of the errors. So see if broken tag is in addon.xml and skip the rest.

[2017-12-10 23:08] Razzeee commented on #15
Should already do that, will have to check.

[2017-12-11 04:51] MartijnKaijser commented on #15
Haven't checked if that's the case. Just thought I mention it

[2017-12-11 07:47] Rechi opened #16 "Only check modified addons in a PR run"
It isn't useful to check all addons as one has to look at the log if the reason for a failing check is caused by the changed addon or by some other addon.

[2017-12-11 10:05] Razzeee commented on #16
Might be possible to generate a list of changed toplevel folders via git foo, but haven't tried that yet.

[2017-12-11 10:07] Rechi commented on #16
The command to get the toplevel changes is `git diff --name-only HEAD~ | cut -d / -f1 | sort | uniq`.

[2017-12-11 10:10] Rechi commented on #16
If you could adjust the `check_repo.py` script to accept addon names like the above git command gives it would be great.
I can then adjust the travis files in the repos later.

[2017-12-11 22:47] #16 closed

[2017-12-14 09:45] Razzeee opened #19 "Search for print statements and report them"

[2017-12-14 16:53] Razzeee commented on #19
No, just came to the conclusion seeing the other pr. Basically there should
be everything in place, we just need to change the regex it's looking for.

On Thu, 14 Dec 2017, 17:13 Rechi, <notifications@github.com> wrote:

[2017-12-14 19:14] MartijnKaijser commented on #19
Remember that some use print statements for unit tests

[2017-12-20 17:31] MartijnKaijser opened #20 "Travis sends failure emails although github has green checkmark"

[2017-12-20 17:38] Rechi commented on #20
I think that is caused by the failing branches.
For PRs only the changed addons are checked to  not confuse the author (and us), for a branch run all addons are checked.

[2017-12-20 17:48] Razzeee commented on #20
That's correct @Rechi

[2017-12-23 10:43] Razzeee opened #21 "Check for StringCompare"
Needs to be searched for in v18+ and reported as it's deprecated in Leia.

[2017-12-24 10:19] #21 closed

[2017-12-28 17:43] MartijnKaijser opened #27 "Auto comment found issues on the PR"
When there are issues found it would be nice they would be automatically added as comment on the PR. If need accompanied with url to some helpful page.

[2017-12-29 13:46] Razzeee commented on #13
Any feedback?

[2017-12-29 14:30] Razzeee commented on #27
As bulk as one comment or split and on affected line of the file? Pretty different problem. Also we probably need to store our secret somewhere, will have to look if travis is able to do that for us. As the rest is open source.

This seems helpful for the secret stuff: https://damien.pobel.fr/post/github-api-from-travisci/
And this library is the most popular github api for python: https://github.

[2017-12-29 14:34] MartijnKaijser commented on #27
Whatever is easiest which will probably be a bulk comment.

[2017-12-29 14:39] Razzeee commented on #27
Yes, spares us quite some work

[2018-01-01 15:10] MartijnKaijser opened #28 "Check for addon version bump"
Might be an edge case but check if there's an actual version bump done in addon.xml

[2018-01-01 15:12] MartijnKaijser opened #29 "Check for dependency issues"
Maybe it's possible to check the included dependencies in addon.xml against the repo it's PRed to.
For this you could parse the repo addons.xml (or first download/unzip the addons.xml.gz)

[2018-01-09 12:25] Razzeee opened #30 "Check screenshots for transparency"

[2018-01-14 01:10] Razzeee opened #31 "Add to other resources repo branches"

[2018-01-14 11:44] #31 closed

[2018-02-08 16:11] mzfr commented on #30
Hi, I'm new to the project and am looking for an issue to fix. Can you provide some more info on this?

[2018-02-08 17:22] Razzeee commented on #30
So we already check icons for transparency here https://github.com/xbmc/addon-check/blob/master/check_addon.py#L192-L193

So this needs to be also done for the screenshot type of images which currently ends up in an else block here https://github.com/xbmc/addon-check/blob/master/check_addon.py#L208

The catch is, that screenshots can be other file types then png which the method from above is test

[2018-02-09 15:41] mzfr commented on #29
what will be the next step after finding dependencies from addon.xml file ?

[2018-02-09 15:43] mzfr commented on #28
I think we can do that by using versionbump package from python ?

[2018-02-09 15:47] MartijnKaijser commented on #29
sounds too complicated
You just need to check is current version is lower than new version. Simple string compare

[2018-02-09 19:13] Razzeee commented on #28
I don't think that will cover our problem :)

Have you written a kodi plugin/addon? There is a file `addon.xml` which is an xml and has infos about the version. We need to match this against the list coming from our servers and see if the PR has a higher version that the server.

[2018-02-09 19:15] Razzeee commented on #29
I think @MartijnKaijser mixed up these tickets :)

[2018-02-10 08:13] Razzeee opened #33 "Verify addon.xml against a xml schema"
I don't think we have a schema but we could create one.

[2018-02-10 08:41] MartijnKaijser commented on #33
You mean something like this?
https://github.com/xbmc/xbmc/blob/master/addons/xbmc.python/pluginsource.xsd

[2018-02-10 10:53] Razzeee commented on #33
Yes

On Sat, 10 Feb 2018, 09:41 Martijn Kaijser, <notifications@github.com>
wrote:

[2018-02-10 18:40] mzfr commented on #6
I was testing this, changed one of the addon.xml and no error occurred

[2018-02-10 23:08] Rechi commented on #28
`http://mirrors.kodi.tv/addons/<KODI-VERSION>/addon.xml(.gz)`

[2018-02-10 23:17] MartijnKaijser commented on #28
Why pull the full repo list for just comparing the addon.xml?
If you would pull addons.xml you would need to combine it with dependency check

[2018-02-11 13:39] Razzeee commented on #28
Ther alternative is to look through each branch for a matching addon and check if any of those branches/addons has a higher version. So you need to checkout each branch and do a complete search.

[2018-02-11 13:41] Razzeee commented on #6
Well the repo update script I mentioned above is what runs on our servers an takes the repos for e.g. https://github.com/xbmc/repo-scripts combines all branches, does some stuff and creates the `addons.xml` that ends up on the servers.
Here is the code of the tool https://github.com/xbmc/repository-generator

[2018-02-12 17:45] mzfr commented on #33
I can do it if you can give some guide line about what type of schema will be required ?

[2018-02-12 22:26] Razzeee commented on #33
Well I would probably try to use http://lxml.de/validation.html to load the xsd martijn linked above and validate the addon.xml with that.

[2018-02-13 00:22] MartijnKaijser commented on #33
There are several more of these in our repo for each type

[2018-02-13 14:49] mzfr commented on #33
I think using [xmlschema](https://pypi.python.org/pypi/xmlschema) would make this much simply.
what do you think @Razzeee @MartijnKaijser ?

[2018-02-13 14:59] Razzeee commented on #33
Sounds good, not sure why I didn't find that package 😆

[2018-02-13 15:48] mzfr commented on #33
Should I use only [This](https://github.com/xbmc/addon-check/issues/33#issuecomment-364636443) schema or should I use any other schema for verifying addon.xml

[2018-02-13 15:51] MartijnKaijser commented on #33
https://github.com/xbmc/xbmc/tree/master/addons  contains several more schemes in the folder for eacht type of addon so the one matching should be found and used

[2018-02-13 15:56] mzfr commented on #33
Another thing, Is there any channel where I can ask questions from @Razzeee or from you about the small queries I have.
Commenting here isn't that good

[2018-02-13 15:57] MartijnKaijser commented on #33
irc #kodi-dev

[2018-02-13 15:59] mzfr commented on #33
Actually i message [This](https://github.com/xbmc/addon-check/issues/33#issuecomment-365307711) over there but no-one replied that's why i was asking

[2018-02-16 09:20] mzfr commented on #20
@Razzeee Is this fixed? or is something still left to do? not really sure.

[2018-02-16 09:22] mzfr commented on #19
So, should we just grep for print statements in the code and report something like "hey, are you sure this print is intended"?

And by grep I actually mean something code-aware like the python's `ast` module

[2018-02-16 09:24] mzfr commented on #13
@MartijnKaijser Any update on this? what @Razzeee has suggested seems okay. We could show the full paths when running locally, but not print them when running on Travis.

[2018-02-16 09:30] mzfr commented on #6
If I understand correctly, this seems to be an issue with the repo-generator script, it should be fixed there right? I mean, how can addon-check help? Do we have to disallow user addons that have `version="1.0.1"` strings? Not really sure what needs to be done :|

[2018-02-16 10:35] Rechi commented on #13
The script already prints `Repo path ...` at the beginning, so IMO we can always strip it in all further output.

[2018-02-16 10:53] Rechi commented on #6
Nothing to fix in repository-generator, `1.0.1` isn't valid (https://www.w3.org/TR/xml/#NT-VersionNum).

[2018-02-19 22:57] Razzeee commented on #19
Code aware would be awesome, but I'm not sure how it will handle third party deps like our kodi classes, which are nowhere to be found here :)
And yes, only prints would probably be the best. But then again, that would mean they don't show up in PRs and every reviewer must check the travis log and then check each of the files for false/positives.
Doesn't feel like we are on a good path here.

[2018-02-20 07:54] Rechi commented on #19
We could classify using print statements only as warnings.
Additionally run `2to3` to check if print at least is in the new python3 syntax and only treat that case as fatal error if it isn't.

[2018-02-21 15:36] #13 closed

[2018-02-22 14:45] mzfr opened #38 "Check whether addons are Python 3 compatible"
This is a generalization of @rechi's [comment here](https://github.com/xbmc/addon-check/issues/19#issuecomment-366894117).

I was wondering if we should add a checker that detects whether the addon code is Python 3 compatible?

A very simple way is to just run `2to3` on the code and see if it detects any issues. We could try out other tools like modernize etc. as well. Even though these tools most

[2018-02-22 18:56] AdityaGupta030697 opened #39 "Reformatting the code according to PEP style guide."
The code in check _addon.py, check_repo.py and common.py needs to be reformatted according to PEP 8 style guide along with some improvements in code like removing unnecessary parenthesis.
Please let me know if this sounds reasonable and I can start working on a pull for this!
Regards
Aditya

[2018-02-22 18:56] mzfr opened #40 "Cleaner command-line interface"
Currently, we use the tool for running on Travis so that addon pull requests can get validated. Any found errors get logged on Travis which developers can see and fix.

I was wondering if it would make sense to package the tool for consumption by addon developers so that they can run it directly on their machine **before** submitting a PR. This will help in reducing the feedback loop.

Not a lot o

[2018-02-23 08:10] Razzeee commented on #39
Sure, I do this regulary but might have forgotten about this the last times.

[2018-02-23 08:55] Razzeee commented on #40
Yes, it's actually intended to serve these cases:
- Being run on the repo by us or any third party
- Being run by a developer on his local system to see errors in advance.

I ment to update the readme to reflect that vision but haven't managed yet.
In theory you should be able to run check_addon.py with a param and it should check your addon. Haven't done that in some days, but that's mostly the r

[2018-02-23 08:56] Razzeee commented on #38
I love that idea, especially as it will help us migrate :)

[2018-02-23 10:25] Rechi commented on #38
`2to3` has differnt transformations which you can all run separately.

I would add a config setting where you can add a list of transformations.
The checker should then run the fixes on by one (`2to3 -w -f except -- <ADDON BASE PATH>`) and check if anything has changed (`git diff --quiet -- <ADDON BASE PATH>`). After each check reset the changes (`git checkout HEAD -- <ADDON BASE PATH>`) so you ca

[2018-02-23 17:24] AdityaGupta030697 commented on #39
okay

[2018-02-23 18:23] mzfr commented on #38
While thinking about this a bit more, I looked for any other alternatives to `2to3` that we could use. Having something that acted as a linter would be nice - so the tool should just report issues rather than fix them (which is what 2to3 does.)

Sadly, there isn't anything already existing that meets our requirements.

I did find [this](https://github.com/openstack-dev/hacking/blob/master/hacking/

[2018-02-23 21:34] Razzeee commented on #20
Well the example code has been updated, but not sure if we changed that for the repos where we run this already.

[2018-02-23 21:42] Razzeee commented on #38
Hrm, maybe we can just talk to the cpython guys or do a PR? Just do an argument like `dry run` and report the changes instead of making them. The source for 2to3 is here https://github.com/python/cpython/blob/master/Lib/lib2to3/main.py

[2018-02-23 22:00] Rechi commented on #38
What output would you expect from the tool?
If it's just like 'Fix print usage' or 'Fix except syntax', that can be even easily with the process I described above. You could even add the filenames which need those fixes.

[2018-02-24 12:11] MartijnKaijser opened #42 "add 3840x2160 fanart as accepted in the check"

[2018-02-24 12:24] MartijnKaijser opened #43 "detect incorrectly set file permissions"
Some accidentally set wrong file permissions while submitting

[2018-02-24 12:37] mzfr commented on #42
Can you point me to the plugin thread where this fanart issue occurred?

[2018-02-24 12:39] MartijnKaijser commented on #42
Just need to be added here
https://github.com/xbmc/addon-check/blob/master/check_addon.py#L206

https://travis-ci.org/xbmc/repo-plugins/builds/345365652?utm_source=github_status&utm_medium=notification

[2018-02-24 13:24] mzfr commented on #43
@martijn It's not really clear which permissions are to be considered incorrect? and what to do after detecting them?

[2018-02-25 19:57] #42 closed

[2018-02-25 19:59] Razzeee commented on #43
Well you can only report them as we have no write access to the gits of the submitting party. Not sure what permissions are problematic, will have to wait for @MartijnKaijser

[2018-02-25 20:05] #39 closed

[2018-02-28 22:45] Razzeee commented on #27
I just merged that 🥇

[2018-02-28 22:45] #27 closed

[2018-02-28 23:27] Razzeee commented on #20
So I updated every known `.travis.yml` to include the email rule. So we should only get mails on changed status from now on. Let's see if it improves.

[2018-03-01 08:35] Razzeee opened #45 "Think about creating a pip package from this"
I have never done a pip package so far, but it might work for us if we can use pipenv to run this.

[2018-03-01 14:21] enen92 opened #46 "Option to export found issues using Checkstyle"
Checkstyle is an XML output format for source-code checkers. This will provides interoperability with both IDEs and editors that expect code suggestions in checkstyle format, as well as other continuous code quality platforms (e.g. personal instances of sonarqube). Checkstyle output format is built-in into many linters found out there (see for instance gometalinter: https://github.com/alecthomas/g

[2018-03-04 17:04] Razzeee commented on #40
Sounds like a plan

[2018-03-05 07:25] mzfr commented on #38
@Rechi Running `2to3` multiple times (for each type of fix) and then using `git` to figure things out just feels a bit too hacky for me. Sure, it'd work, but I feel we should first explore if there is a a _better_ way to do it.

The problem is, we want to *report* issues and not really fix them!

Sadly, I haven't had much luck with 2to3 - it just isn't made for reporting and it can be done but wil

[2018-03-05 08:23] Razzeee commented on #38
Can you put a number on how many things we would need to add? Really not looking forward to reimplementing a known factor.

[2018-03-05 09:35] Rechi commented on #38
The suggestion with running 2to3 multiple times and using git to track changes was just something that came quickly into my mind.
I've investigated further how 2to3 works and I created a PoC how to use 2to3 without abusing git.

[code]

[2018-03-05 18:30] mzfr commented on #38
@Rechi That is an amazing approach.

I extended it to also print a diff of changes required, or we can extract just the line that the error is occurring on:

[code]

Except for the fact that this makes multiple passes over the addon code (which isn't really a problem since the code won't be big?) this approach is very good as it doesn't involve re-inventing the wheel!

We now just need to decide h

[2018-03-05 22:39] Razzeee commented on #38
Well code for a single addon might not be big. But code for a whole repo might be. So if we can optimize it, we should. Otherwise we will wait for the builds longer.

Well what about an `--verbose` flag? And defaulting to 1.

[2018-03-05 22:41] Razzeee commented on #46
Not sure, seems to be used for jenkins and not much more? At least from what I was finding some days ago.

I then looked into how to write Visual Studio Code plugins. Which would involve a local javascript server, as they don't support other languages right now, others are planned. Not sure if wrapping python would even be an option.

[2018-03-05 22:42] Razzeee commented on #40
Also interesting would be if we can use this to write a vscode plugin/linter.

[2018-03-06 12:32] mzfr commented on #38
I'll do some runs on the big plugin branches and report times that this approach takes.

Till then I could implement this as an initial version?

[2018-03-06 18:38] mzfr commented on #46
I personally use Sublime Text and other people might use different editors and creating a linter for every editor would be tough.

Perhaps we should look into creating a linter that can somehow be integrated with the [Language Server Protocol](https://langserver.org/)? This will mean that we just have to write code once (hopefully in Python) and we'd use existing LSP plugins for each editor to get

[2018-03-06 22:42] Razzeee commented on #46
That sounds like the thing I was looking for. Please do some research, but don't get into deep.
Might be (a very interesting) gsoc project on it's own.

[2018-03-06 22:57] Razzeee commented on #38
Please also do something on repo-resources, which should be fine, if you detect if it really is a py file. But just in case ;P
https://github.com/xbmc/repo-resources/tree/krypton

[2018-03-08 04:38] mzfr commented on #38
Hey @razzeee I'm trying to understand more about how Kodi's Python plugins run. Few questions:

1. Plugins can be created in BOTH Py2 / Py3 right? (just confirming this) What is the version of Py3 that is supported? So for eg. Can I use features like fstrings?

2. Can you point me to the codebase which runs these plugins? I'm interested in how it detects whether a plugin is written in Python 2 / 3

[2018-03-08 11:05] Rechi commented on #38
1. Currently python addons have to be py2 compatible to work in Kodi. For v19 they have to be py3 compatible (https://kodi.tv/article/attention-addon-developers-migration-python-3).
2. not detected as we only support either py2 or py3 in one Kodi version
3. Hopefully currently all addons are py2 compatible. Some devs have already made their addons py3 compatible

[2018-03-08 21:36] AdityaGupta030697 commented on #39
It has to be done again after the recent commits.

[2018-03-11 09:23] Razzeee commented on #46
@enen92 do you also agree that the language server protocol would be the better way?

[2018-03-11 13:35] enen92 commented on #46
@Razzeee I am not familiar with it. From what I have seen it looks too complex for what we want to achieve, it almost feels like we are reinventing the wheel. We are not defining a new language and most of those features are already available for python. Even when developing for kodi, having kodistubs in site-packages already gives auto-completion as well. IMHO the idea would be to export the issu

[2018-03-20 14:53] mzfr commented on #20
@Razzeee if everything seems ok with this then we should close this issue

[2018-03-20 19:31] Razzeee commented on #29
so first step for this, would be to make our code aware of these urls (here are some examples, there's one for each version):

http://ftp.snt.utwente.nl/pub/software/xbmc/addons/gotham/addons.xml
http://ftp.snt.utwente.nl/pub/software/xbmc/addons/isengard/addons.xml
http://ftp.snt.utwente.nl/pub/software/xbmc/addons/leia/addons.xml

These include all addons, resources, skins etc. so it's a complet

[2018-03-20 19:36] Rechi commented on #29
What's wrong with using mirrors.kodi.tv to always get the best mirror?

[2018-03-20 19:39] Razzeee commented on #29
Nothing, I keep forgetting the url and that's the one my browser remembered :suspect:

[2018-03-21 01:35] slgobinath commented on #45
Hi,
Currently, I am working on this. Do you have a preferred universal name for addon-checker?
The name must be unique across Python packages available in [pypi](https://pypi.python.org/pypi) and can be used as the terminal command.

WDYT about `kodi-addon-checker`?

[2018-03-21 08:11] Razzeee commented on #45
Name sounds fine.
Code also looks good, but I've got no time right now to try it out. From my understanding that's what we need to push it to pypi?
Btw, we will have to change the author and email in the long run.

[2018-03-21 10:22] slgobinath commented on #45
Sure.
Please let me know the author name and email to use. I will update them and send a PR after testing on Windows.

FYI: Following this [tutorial](https://www.codementor.io/arpitbhayani/host-your-python-package-using-github-on-pypi-du107t7ku) I published my personal project to pypi.

[2018-03-21 11:06] Razzeee opened #49 "Choose a license"
Somehow I forgot to include a license 🤦‍♂️

[2018-03-21 11:06] Razzeee commented on #45
Please use `Team Kodi` as author, email is mandatory right?
We ultimatly want to push that package to pypi as Kodi with a Kodi account I guess.
See https://github.com/xbmc/addon-check/issues/49 please

[2018-03-21 13:57] slgobinath commented on #45
Author name and email are not mandatory. So I ignore the email but include `Team Kodi` as the author.
License field also skipped until we pick a license.

[2018-03-21 14:01] slgobinath commented on #49
KODI is released under GPL v2.
If this add-on will be packaged with KODI (may be in future), we need to release this add-on under GPL v2. If not, I vote for GPL v3 which is recommended by GNU.

For more details: https://www.gnu.org/licenses/rms-why-gplv3.en.html

[2018-03-21 14:07] Razzeee commented on #49
I don't see a reason to ship it with kodi. So it's basically going to be MIT or GPL v3, if you ask me.

[2018-03-21 14:37] slgobinath commented on #45
I have tested setup.py installation on Linux Mint and Windows. Everything works as expected in my testing.
Please see the PR #50

Thanks

[2018-03-25 16:46] enen92 opened #55 "Check for git related files"
A common issue when people submit addons to the repository is the presence of a `.git` folder, a `.gitignore` or `.gitattributes` file in the PR. The addon-check tool should look for the presence of such files and automatically inform the user to remove them from the pull request.

[2018-03-25 16:53] enen92 opened #56 "Check if addon is already present in a lower repository"
This issue is a suggestion.

I have seen many cases in which a user submits an addon to a repository (lets say Krypton) and the addon is already present in "lower" repositories (e.g. helix). In those cases the check-tool should produce a warning to inform the user of this fact since most of the time the user is either not aware of the presence of the addon in a lower repo, doesn't know recent vers

[2018-03-25 17:33] Razzeee commented on #55
I get the `.git` folder, not 100% sold on the other two. Especially the `.gitignore`

[2018-03-25 17:35] Razzeee commented on #56
Can be done via https://github.com/xbmc/addon-check/pull/51 and a simple print output. Not warn or error.

[2018-03-25 18:40] Rechi commented on #55
Git didn't allow me to stage a `.git` folder in a subdirectory to (also tried with the force option).
Why do you want to forbid `.gitignore` and `.gitattributes` files?

[2018-03-25 19:03] enen92 commented on #56
Fine. Main goal is to inform the user so it does not need to be a warning. Please close if already addressed.

[2018-03-25 19:05] enen92 commented on #55
It has always been a rule to ask for the removal of such files in the pull requests. Probably something related to the script that builds the zip files for each updated addon? If this is not a rule for the repository than we should stop asking people to remove them.

[2018-03-25 19:14] Rechi commented on #55
[repository generator](https://github.com/xbmc/repository-generator) doesn't have an issue if those files are present.

[2018-03-25 19:29] enen92 commented on #55
Yes it looks like they are ignored and not part of the produced zip @Rechi. We should stop requesting removal of such files in submissions. Thanks for the heads up.

[2018-03-25 21:04] Razzeee commented on #55
Btw I even scripted this addon-checker to not report `.gitignore` :)

[2018-03-25 21:05] Razzeee commented on #56
@mzfr

[2018-03-26 10:14] mzfr commented on #56
@Razzeee So should I just add this to #51 itself? This would just involve downloading addon.xml for all branches and seeing if the same addon id exists in any of them, right?

[2018-03-26 11:15] Razzeee commented on #56
Yeah, I will leave it up to you if you want to do it in #51 or in a follow up. I would also print the version of the addon in the lower branches.

[2018-03-26 14:20] enen92 commented on #56
@mzfr @Razzeee I’d also check if the version in those lower repos has the broken element set in addon.xml.

[2018-03-26 15:22] mzfr commented on #56
@Razzeee I will make a new PR for this issue.

[2018-03-29 14:54] enen92 commented on #56
@mzfr it is a common practice to mark addons as broken when they stop working or are no longer maintained. This is achieved by setting the <broken></broken> element in addon.xml with a message explaining the reasoning (of the addon being broken). Consider the use case in which an addon exists in a lower Repo (Gotham) and was marked as broken due to  being no longer maintained. If someone decides t

[2018-03-29 15:00] mzfr commented on #56
@enen92  Yes it is clear now Thank you for explaining it. Just one thing Can you please provide link to the broken addon you mention so I can have a look of how a broken addon would look like(I have never seen any broken xml file before).

[2018-03-29 15:12] enen92 commented on #56
Sure. The broken one: https://github.com/xbmc/repo-scripts/tree/helix/screensaver.atv4

The updated one: https://github.com/xbmc/repo-scripts/tree/krypton/screensaver.atv4

Sorry for the wrong identation of the first addon.xml.

[2018-03-29 15:15] mzfr commented on #56
@enen92 for this we can just check for a `<broken>``</broken>` tags.

Also for broken addons should we print something like `<addon_name> exists in <repo_name> but is broken` or we shouldn't print anything at all ?

[2018-03-29 15:26] enen92 commented on #56
Yes checking for "broken" element in addon.xml is the only step needed. Up to you, since it has an INFO/NOTICE level any option is okay. Probably logging it could still be usefull just as a means of checking if credits should (in therory...) still be given to the original author or if the addon is a full re-write

[2018-03-29 17:48] Razzeee commented on #56
+1 on logging it

@mzfr sure, do a log entry if it's a new addon. so we woud have some kind of interaction in each case

[2018-03-31 14:45] enen92 opened #60 "Check if all PR files are in the same folder"
According to our submissions rules every pull request must refer to only one addon. PRs usually have "[addon.id] version" as the PR title (although in some cases we have to rename them manually or ask the author to do so).
Sometimes there is a mistake of including more than one addon in a pull request or of producing incorrect pull requests which include older commits (for example the result of an

[2018-03-31 20:02] Razzeee commented on #60
It might make sense to only enable this via arg parameters.
So that I still can do `kodi-addon-checker script.test script.test2` locally, but error on `kodi-addon-checker script.test script.test2` --fail-on-multiple-addons

[2018-04-02 14:27] Razzeee opened #61 "Remove unused github comment code/setting"

[2018-04-02 14:42] mzfr commented on #61
@Razzeee should I just delete [git_comments](https://github.com/xbmc/addon-check/blob/master/kodi_addon_checker/git_comments.py) file and create a PR for this.

[2018-04-02 16:06] Razzeee commented on #61
Yes, the file and everything importing/using it

[2018-04-02 20:04] #61 closed

[2018-04-12 11:33] enen92 opened #68 "Check complexity of addon entrypoints"
It is a general good practice to keep the entrypoints (the python files refered in addon.xml) to a minimum since they won't get compiled to bytecode. Usually the entrypoint should be something as simpler as:

[code]

While the main plugin code is kept in a module.
The `addon-check-tool` could somehow check the complexity of the entrypoint and might suggest the author to improve the addon performan

[2018-04-12 12:55] mzfr commented on #68
This can be a good thing to do.
1. This is easy to implement but we have to decide the number of line we want to check. Maybe we can check number of line in entrypoint files for some famous addons like [plugin.video.youtube](https://github.com/jdf76/plugin.video.youtube)(it have 7 lines in its entrypoint file).

2. Instead of this one I think 1 is better.
3. What do you mean by "exploiting" CC ?
4

[2018-04-12 13:37] mzfr commented on #68
@enen92 Ok so option 3 is actually one of task of GSoC '18. I have a post on kodi forum about the task so  If you want you can see [this](https://forum.kodi.tv/showthread.php?tid=328798&highlight=gsoc)
So maybe we can just leave this till then or try to do it with option 1 ?

[2018-04-12 13:49] mzfr commented on #60
@enen92 For this we can check if upper directory for all the file is same or not right ?
Maybe do something like `os.chdir("..")` for all the files/folders in depth 1 and then see if that directory is same or not.

[2018-04-12 13:51] enen92 commented on #68
Sure thing. Option 1 seems the way to go for a quick prototype

[2018-04-12 13:52] mzfr commented on #68
ok I'll try it.

[2018-04-12 14:41] enen92 commented on #68
1. Don't hardcode the number of lines, make it configurable in the tool configuration file
2. You have to grab the entrypoints from addon.xml. And this is not so trivial as it sounds. Note that:
- this issue affects both plugins and scripts
- an addon can have multiple entry points (one for each extension point). For instance an addon can be a script (program.addon) and also a service and also def

[2018-04-12 15:01] mzfr commented on #68
1. Ok I'll make it configurable via config file or should I add this as an CLI argument ?
2. ok I'll Do that
3. ok so for example [Twitch](https://github.com/MrSprigster/Twitch-on-Kodi/blob/master/addon.xml) addon have multiple extension so should I run this check for all the extensions ?

[2018-04-12 15:34] enen92 commented on #68
1. I think the granularity of this setting is so low it does not make sense to pass it as a CLI argument. Maybe having it as a variable in a configuration file is better

3. Yes. Ideally first you should investigate which extension points do exist that have a python file entrypoint. IIRC those are: `xbmc.python.pluginsource`, `xbmc.python.script`, `kodi.context.item`, `xbmc.service`.

However ther

[2018-04-12 20:25] Razzeee commented on #60
I'm not sure about thise, especially if we need to call the github api. It means we add another hard dependency and very closely couple this checker with our repo rules on prs. Not with good rules for coding.

So if we would run this locally with vscode some day it will just tilt untill we do some weird setup. Maybe it's a different concern and would be better of in it's own tool?

[2018-04-13 07:02] Rechi commented on #60
add the following to .travis.yml
`- 'if [ "$TRAVIS_PULL_REQUEST" != "false" ]; then if [ "$(git diff --diff-filter=d --name-only HEAD~ | grep / | cut -d / -f1 | sort | uniq | wc -l)" -gt "1" ]; then exit 1; fi fi'`

[2018-04-16 12:44] Razzeee opened #70 "Report xbmc.abortRequested deprecation"
The old format should only be used in gotham or earlier. Instead we should encourage using the new one. See our docs here:

https://kodi.wiki/view/Service_add-ons

[2018-04-16 12:51] mzfr commented on #70
@Razzeee Can you please provide an example for any addon using old format and the one using new format.

[2018-04-16 13:01] Razzeee commented on #70
Old one would be script.trakt

[2018-04-16 17:07] Razzeee commented on #70
This branch should be using only the new one https://github.com/Razzeee/script.trakt/tree/code-cleanup

[2018-04-16 17:45] enen92 commented on #70
Any ideas on how to implement this properly? Can this be used with kodistubs somehow by setting `@deprecated` decorators on methods? I assume pylint for instance has built-in or standard ways of checking for deprecations on modules.
Other option might be to do it statically using the `ast` python module:
https://stackoverflow.com/a/27336824

Either way, there are a few more deprecations that can b

[2018-04-28 17:33] mzfr commented on #30
@Razzeee Screenshots doesn't have transparency because they only have RGB value and no alpha in it.
Also if someone edits the screenshot using an editor and then adds alpha value to it then we are already having a check for that.

Another option could be to define a size for acceptable screenshots. We can choose any size like size of fanart (1280, 720) or size of an image(256, 256). Then we can ha

[2018-04-28 17:39] mzfr commented on #60
@Razzeee @enen92 This is done right ?

[2018-04-29 09:35] Razzeee commented on #60
No, I haven't updated our travis scripts yet

[2018-05-01 19:03] #68 closed

[2018-05-05 14:59] mzfr opened #71 "Check for __init__.py"
We Should have a check for __init__.py file.
The main reason is that When we run pylint on any folder it first checks for __init__.py file in it. If the file is missing then it produce an error

This is the error:
![screenshot_20180505_202420](https://user-images.githubusercontent.com/16623935/39664547-6be9b7d4-50a2-11e8-975a-7b51fb4fee56.png)

This is a [know problem](https://github.com/PyCQA/pyl

[2018-05-05 15:40] mzfr commented on #60
If you can tell me for what all branch travis scripts are to need to be updated then I can do it :slightly_smiling_face:

[2018-05-05 23:43] Razzeee commented on #71
I would rather hope for them to fix it then add this hack to our codebase :/
Pretty much every addon will fails that check, as you only need that file for subfolders in kodi land.

[2018-05-06 22:26] Razzeee commented on #60
Well we need to add the stuff posted by rechi above and maybe also add the needed travis-buddy command, that I already added as a test on the plugins repo for the krypton branch.

[2018-05-22 14:48] mzfr commented on #29
@Razzeee This issue is fixed by PR #63. We can close this issue now.

[2018-05-22 15:12] #29 closed

[2018-05-24 08:11] mzfr commented on #70
@Razzeee @enen92 I was looking into this and I think we can do it in simple way.
So the docs says that `waitforabort()` is new from helix. Maybe we can just look for the keyword `waitforabort()`. I am assuming that this will have to be added wtihin the entrypoint files and we can get those from addon.xml

[2018-05-24 22:49] Razzeee commented on #70
But only service addons need to have this. Not sure if others could theoretically also use this, might make sense and be totally valid for other addons.

[2018-05-24 23:34] enen92 commented on #70
Not only service addons use such blocking calls, I've seen a few scripts that also do the same. In fact it is a common practice to suggest the inclusion of abortRequested() in all while statements that can run for some time so that Kodi can quit gracefully when requested to exit. IIRC Kodi will wait for 5 seconds for a Kodi addon to exit before killing the script

[2018-05-25 06:42] mzfr commented on #70
@razzeee @enen92 ok if it is suggested that all add-ons must use this then there will not be any problem in doing it the way I suggested.

And even if we want them for particular type like service add-on then also we can do this method, the only thing we'll have to add is a check for the name of the addon which we can easily get from addon.xml

so I'll start work on this if you don't have any othe

[2018-05-25 20:07] Razzeee commented on #70
Well but it doesn't mean that each addon has to have `waitforabort()`. It's not necessary. That's how I understood your idea and that won't work in my opinion.

[2018-05-25 20:11] mzfr commented on #70
But doc says:
[code]
So doesn't that means every addon above gotham will have `waitForAbort()` ?

[2018-05-25 20:37] Razzeee commented on #70
If you need to wait for stuff yes. But addons like context addons or plugins don't need to do that usually. There might be exceptions but it's not every addon.

[2018-05-26 15:45] mzfr commented on #45
@Razzeee since we now have a pip package, All thanks to @slgobinath. I think we can close this issue now.

[2018-05-26 15:47] mzfr commented on #49
@Razzeee this issue is resolved now right ?

[2018-05-26 16:02] Rechi commented on #49
license added at #52

[2018-05-26 16:02] #49 closed

[2018-05-26 16:15] #45 closed

[2018-06-03 09:48] #56 closed

[2018-06-03 09:52] mzfr commented on #28
@Razzeee I think this issue was also covered by #57

[2018-06-03 10:27] #28 closed

[2018-06-03 18:14] Razzeee opened #82 "Entry point validation fails for resource addons"
Resource addons don't name `.py` files but `.xml` files and thus radon can't parse them.

We should ignore those cases, but maybe check if the file it references does exist.

[2018-06-03 18:15] Razzeee opened #83 "Update ignored list of pseudo addons for dependency detection"
We will never be able to find these addons in any repo.

So let's ignore all of these:
https://github.com/xbmc/xbmc/blob/2f9feb2/xbmc/addons/AddonInfo.cpp#L39-L77

[2018-06-03 18:17] Razzeee commented on #83
This would actually be version dependent, so we need to ignore different stuff depending on our branch config.

[2018-06-04 21:05] mzfr commented on #83
@Razzeee What I was able to understand from this was:

We have an [ignore list](https://github.com/xbmc/addon-check/blob/master/kodi_addon_checker/check_addon.py#L414) now all we have to do is to add all this into ignore list

Now what I don't understand was `This would actually be version dependent, so we need to ignore different stuff depending on our branch config.` this statement. What would b

[2018-06-05 08:35] mzfr commented on #83
@Razzeee okay so I have to just add all these names into that ignore list right ?

okay so that means we should have different ignore list for different branch.
Eg:
[code]

By reserved name you mean the names mentioned in the list you mentioned above. Like `xbmc.metadata.scraper.albums` etc ?
Also what do mean by "in any repo" ? how are these name used in repo's

[2018-06-05 22:37] Razzeee commented on #83
Yes, just add all the names from the list.

Basically that's all that this needs to be solved.

Ignore the rest, it's not important.

[2018-06-06 11:05] #82 closed

[2018-06-07 22:54] #83 closed

[2018-06-10 08:04] MartijnKaijser opened #91 "detect if deprecated startup/login is used for v18"
https://github.com/xbmc/xbmc/pull/13796

[2018-06-11 11:04] Rechi commented on #43
As no scripts submitted in an addon has to be stand-alone executable, they never should be marked executable. (allowed: 644, not allowed everything else).

For most PR we could change the commits (https://help.github.com/articles/allowing-changes-to-a-pull-request-branch-created-from-a-fork/), but why should we want that?

[2018-06-23 18:27] Razzeee opened #96 "Add script.module.pil to dependency ignore"

[2018-07-10 15:34] mzfr commented on #96
@Razzeee this issue is fixed

[2018-07-10 18:07] #96 closed

[2018-08-12 12:55] mzfr commented on #38
This is fixed by #100

[2018-08-12 12:55] #38 closed

[2018-08-12 12:56] mzfr commented on #40
Do we need any changes in our current command-line interface ?

[2018-08-12 12:56] mzfr commented on #71
We don't need this anymore

[2018-08-12 12:56] #71 closed

[2018-08-12 12:58] mzfr commented on #30
Do we still need to worry about this ?

[2018-08-12 12:59] mzfr commented on #20
@MartijnKaijser @Razzeee Are we still getting those emails ?

[2018-08-12 20:01] Razzeee commented on #30
If you would have asked me today I would have thought, that we demand on screenshots being `jpg`. @enen92
If we do, we could check for that, but might not be that important.

[2018-08-12 20:02] Razzeee commented on #40
I think this is fine.

[2018-08-12 20:02] #40 closed

[2018-08-12 20:03] Razzeee commented on #20
@MartijnKaijser will just reopen it if it still bothers him

[2018-08-12 20:03] #20 closed

[2018-08-12 20:09] Razzeee opened #105 "Table breaking error reporter"
Some sign in the table seem to break the report we get back to travis buddy.

Here's an example:
![image](https://user-images.githubusercontent.com/5943908/44005962-52a4cb38-9e7c-11e8-9bc2-7178b5e78921.png)
https://github.com/xbmc/repo-plugins/pull/1976

The complete errors can be found here:
https://travis-ci.org/xbmc/repo-plugins/builds/412547630

So either we fix that somehow or we get rid of t

[2018-08-13 10:49] enen92 commented on #30
they normally are jpegs just like the fanart

[2018-08-13 11:59] Razzeee commented on #30
They normally are, but do we enforce that in the guidelines? I think we should.

[2018-08-13 12:28] Rechi commented on #30
For repo-plugins, krypton branch, it isn't sometimes, as there are more png screenshots then jpg ones.
[code]

[2018-08-13 13:12] Razzeee commented on #30
Then we still worry about this.

[2018-08-13 13:34] mzfr commented on #30
Any thoughts on my previous [comment](https://github.com/xbmc/addon-check/issues/30#issuecomment-385192802)?

[2018-08-13 13:40] Razzeee commented on #30
We just want to run the transparency check we already have on screenshots.

[2018-08-13 15:01] mzfr commented on #105
Currently we don't have a good output format. I think we should have a discussion on this.

About the issue: In my opinion dropping the table will make it more `dirty` both in the command line and while commenting via Travis-Buddy.
one thing we can try is to use some package to get a Git flavored markdown table which will be rendered neatly but that table might not look good in terminal.

One thin

[2018-08-13 18:13] Rechi commented on #105
Why not try with a different (simpler) `tablefmt` as a start?

[2018-08-14 09:04] mzfr commented on #105
Yes that's what I meant by git flavoured markdown table.
Tabulate have many `tablefmt`(pipe, grid etc) we can  try that too.

[2018-08-15 06:32] mzfr commented on #30
Okay but our `has_transparency` code check whether the image mode is `RGBA` or not. And as I said in my previous comment screenshot doesn't have `RGBA` they only have `RGB` values. So even if we run our check on screenshot it will always `return False`.

[2018-08-15 06:53] Razzeee commented on #105
To be honest, I still think tables are kinda bad for this.

Problems:
- It's not clear if a table row is INFO|WARN|PROBLEM - mostly we print the whole table with one of them, which makes our level construct really weird
- We're now mixing styles
- They still are hard to read and feel quiet buggy

I would like to see us try to just use the old construct without a table and just use some formatting

[2018-08-15 06:57] Razzeee commented on #30
Pretty sure `png` has an alpha channel

[2018-08-20 16:16] mzfr commented on #105
@Razzeee is table still breaking after changing the format?

[2018-08-20 20:20] Razzeee commented on #105
We would probably have to do a release to know for sure

[2018-08-21 14:48] mzfr commented on #19
so basically we want to search for print statement in all the addon files(.py) and if it's there then they should be reported ?

[2018-08-21 19:17] Razzeee commented on #19
Yes, as a warning. But we're not sure how useful a check like this will be in reality. So it might just turn out to be useless. But we need to try.

[2018-08-22 10:48] #30 closed

[2018-08-22 16:11] enen92 opened #110 "[RFC] Should an optional dependency be reported as a problem?"
Ref: https://github.com/xbmc/repo-plugins/pull/2001

script.module.inputstreamhelper is an optional dependency of the youtube addon and only makes sense for v17+. Youtube is in the isengard repo and is able to operate even without inputstream.

Question is...should we report such cases as problem? IMO warning fits better if the dependency is optional.

[2018-08-22 16:56] Rechi commented on #110
IMO even warning is too high, maximum is INFO. Setting a dependency as optional requires additional changes in addon.xml so the author should be aware of what it means.

[2018-08-22 21:52] Razzeee commented on #110
yeah, we should honor the optional flag.

[2018-08-22 22:00] Razzeee commented on #105
Looks way better now, we should probably also color the tables and not just the first line?

[2018-08-23 06:07] mzfr commented on #105
Can you please show the output once

[2018-08-24 15:20] mzfr commented on #105
If we run the tool locally we can see the whole table in color but travis log doesn't show the colored table.

[2018-08-24 20:00] Razzeee commented on #55
I think this is solved by our workflow then.

[2018-08-24 20:00] #55 closed

[2018-08-26 17:56] #33 closed

[2018-08-27 02:52] mzfr commented on #6
I think this is fixed by #35

[2018-09-04 15:18] mzfr opened #114 "HTML reporter for locally displaying report"
We all know that our current displaying method is really not great and we need some clean way of displaying our report.
The current best option seems to have HTML reporter we can use [jinja](http://jinja.pocoo.org/docs/2.10/) for having a nice format of the HTML page.

__PROBLEM__
* No records of the previous reports: Sometime we might want to see the difference of the output on two different add-

[2018-09-05 07:28] Razzeee commented on #114
As long as it's only for locally I'm fine with that. But markdown would probably be easier to do.

[2018-09-28 08:21] MartijnKaijser opened #116 "Detect if addon id used in lower branches and if marked broken"
Most devs are moving their addon to newer branches so we should detect if it's still available in earlier branches and detect if broken tag is added. If not it should be added.

[2018-09-28 13:57] MartijnKaijser commented on #116
ah didn't know.

[2018-09-28 13:57] #116 closed

[2018-10-01 15:27] Razzeee commented on #60
@Rechi is that code snippet still how it should look?

[2018-10-01 16:03] Rechi commented on #60
Yes, but it would mark some of our own PRs in repo-resources as failed (e.g. mass updates to game.controler.*).

[2018-10-03 09:37] Razzeee commented on #60
So we might want to not do this I guess.

[2018-10-03 11:39] MartijnKaijser opened #117 "Add maximum count to the news section"
As some devs are now putting the complete changelog in de news tag we should add a max detection with a decent character count

[2018-10-06 14:29] MartijnKaijser commented on #117
https://github.com/xbmc/addon-check/pull/118

[2018-10-06 14:29] #117 closed

[2018-10-07 09:32] enen92 commented on #60
I think we still need this, mass updates to addons are not common and are usually handled only by team members. In most situations 1 PR = 1 addon update. Would it be possible to add a label to a pull request and make travis to ignore the check? Something like the "No-Jenkins" label in Jenkins?

[2018-10-07 16:55] #110 closed

[2018-10-11 01:25] Razzeee opened #119 "requirements.txt doesn't seem to be included in pypi package"
`requirements.txt` doesn't seem to be shipped and thus can't be read on install.

https://travis-ci.org/Razzeee/script.trakt/jobs/439924791

[2018-10-11 02:48] tiagovizoto commented on #119
Do have Project support to 2.7.0 version?
You log show python 2.7.0

[2018-10-11 05:18] sichuan-pepper commented on #119
You should add MANIFEST.in file and include requirements.txt.

[2018-10-11 06:39] Rechi commented on #119
Use one of the supported python versions.

https://github.com/xbmc/addon-check/blob/8602821f23641bbe34a2473d445e8c31a3094888/setup.py#L38

[2018-10-11 19:33] Razzeee commented on #119
Thanks all!

[2018-10-11 19:33] #119 closed

[2018-10-11 19:54] Razzeee opened #123 "Don't process hidden folders"
We should ignore hidden folders, everything starting with `.` like `.git`

See this log for some false alarms https://travis-ci.org/trakt/script.trakt/jobs/440324400

[2018-10-11 21:37] cybcafe commented on #123
It seems to me that there is already something that does it.

https://github.com/xbmc/addon-check/blob/4b1f534ed9fc961722c0e4c1e33538dc75de895a/kodi_addon_checker/check_repo.py#L13

When do you want to skip hidden folders ?

[2018-10-12 00:16] Razzeee commented on #123
the log you see above is not using the `check_repo` function as it's not being run on a repo. I think it uses the other way to be run, which is via the `check_addon` module https://github.com/xbmc/addon-check/blob/master/kodi_addon_checker/check_addon.py

[2018-10-12 02:10] cybcafe commented on #123
Okay fine I had trouble reading the logfile.

[2018-10-13 08:05] MartijnKaijser opened #124 "Add check for orphaned add-on"
Over time some add-ons might become broken/obsolete and will be removed. Some have a certain helper add-on which we then also forget to remove. Would be nice if we could detect this in some way if there are any. This can be done in the general scan on each branch and doesn't need to bother the regular submission report.

[2018-10-13 08:13] MartijnKaijser opened #125 "Try to detect circular dependencies"
Sometimes developers add circular dependencies by accident which freaks out Kodi. Doesn't happen often but it's quite nasty and we had lots of problems with this since add-ons where added to XBMC

`<addon id="plugin.video.fattoquotidianotv" name="Il Fatto Quotidiano TV" version="1.0.4" provider-name="NeverWise">
  <requires>
    <import addon="xbmc.python" version="2.14.0"/>
    <import addon="scr

[2018-10-13 09:53] MartijnKaijser opened #126 "Use SPDX-License-Identifier for add-ons as well"
For Kodi code we have switched to the SPDX-License-Identifier which makes it easier to identify what licenses are used. Perhaps this is a good idea as well for add-ons. Just as a suggestion for the dev but not make it mandatory.

[2018-10-13 11:44] MartijnKaijser opened #127 "Suggest to use new settings.xml layout for v18 and up"
Since several version we support a new settings.xml format which is the same as Kodi itself uses.
As most bugs should have been solved by now we should suggest developers to start using this new layout.
I'm sure there is already some wiki page or forum post explaining how the new layout works

[2018-10-13 20:16] mzfr commented on #43
@Razzeee So all we have to do in this is that whether the python files submitted in a PR are marked as executable or not ??

[2018-10-13 20:17] mzfr commented on #127
@MartijnKaijser @basrieter are we talking about https://kodi.wiki/view/Add-on_settings?

[2018-10-14 12:02] cybcafe commented on #123
https://github.com/xbmc/addon-check/blob/master/kodi_addon_checker/handle_files.py#L33-L44

@Razzee so just a new conditional in this for loop and then appropriate tests right ?

I noticed that os.walk also returns its argument as the first element. Is it okay for the whole addon to be a hidden directory ? If so I should skip the condition on the first iteration. And if not, an error should be thr

[2018-10-14 12:02] MartijnKaijser commented on #43
yes

[2018-10-14 13:49] mzfr commented on #43
Okay I'll work on this one

[2018-10-14 14:39] romanvm commented on #19
Technically, in Kodi ``print` is is implemented is implemented as xbmc.log(message, DEBUG): https://github.com/xbmc/xbmc/blob/master/xbmc/interfaces/python/AddonPythonInvoker.cpp#L19

So I'm not sure if we need to bother with ``print`` statements in addons.

[2018-10-14 14:42] MartijnKaijser commented on #19
unit testing outside kodi

[2018-10-14 18:10] Razzeee commented on #123
It's not okay for an addon to be in a hidden dir.

The method you pointed out seems to be the right spot for this change. I don't think you need to throw any error, just ignore the folder.

[2018-10-14 18:17] cybcafe commented on #123
If it’s not okay, better test for it and add an entry to the report right ?

[2018-10-14 19:02] Razzeee commented on #123
Yeah, but maybe only on the top level?

On Sun, 14 Oct 2018, 11:17 Tanguy A., <notifications@github.com> wrote:

[2018-10-14 23:38] cybcafe commented on #123
Okay I’ll PR something on Monday.

[2018-10-15 06:40] MartijnKaijser opened #128 "Add-on check needs to detect version bump with broken tag"
It seems that when marking an add-on broken the check for version bump is missing. To mark something broken having the bump is mandatory.

[2018-10-15 15:49] mzfr commented on #125
This one could be a bit tricky because when we'll be checking the dependencies of an addon say `plugin.video.fattoquotidianotv`, we'll have to go on all the add-ons present in the `requires` section. And by `go` means sending requests to all `require` add-ons and getting the addon.xml files for them and then reading dependencies and matching it.

[2018-10-15 15:52] MartijnKaijser commented on #125
Now you know why Kodi freaks out if we have these addons in repo :)

[2018-10-15 16:03] mzfr commented on #126
Is there any addon that has already used SPDX-License-Identifier in their LICENSE.txt?

[2018-10-15 16:06] mzfr commented on #124
What do you mean by `helper` add-on? Does it mean addons present in the `require` section of the addon.xml? Can you please provide an example of an addon

[2018-10-15 16:08] MartijnKaijser commented on #124
Indeed one that is marked as required by other add-ons.
Almost all module scripts are helper add-on as they do not function on their own but are called by some other script/plugin

[2018-10-15 17:44] MartijnKaijser commented on #124
yes a module can be used by multiple addons however in the end it might not used at all anymore.
So any *.module.* needs to be added as dependency at least once for any addon

[2018-10-15 17:48] MartijnKaijser commented on #127
Correct:
old format
https://github.com/xbmc/xbmc/blob/master/addons/metadata.themoviedb.org/resources/settings.xml
new format
https://github.com/xbmc/xbmc/blob/master/system/settings/settings.xml

So you need to detect some specific things that identify it as old or new layout

[2018-10-15 19:30] cybcafe commented on #123
Oh I’m sorry @mzfr I didn’t see your pr

[2018-10-16 10:44] enen92 commented on #127
A better approach would be to create schemas for all elements in the settings similarly to what we have done for addon xml and just validate that. We have yet to document the new settings format too. Depending on time constraints I may have a look at doing it.

[2018-10-20 21:37] MartijnKaijser opened #133 "Allow empty tags in addon.xml"
Some one decided that empty tags like website,forum,email are not allowed. That's just wrong and needs to be fixed as they are perfectly valid.

[2018-10-20 21:52] MartijnKaijser commented on #133
fyi this is a high priority fix cause the wiki actually states that these tags are kind of required and currently the add-on checks states the opposite

[2018-10-22 16:47] Razzeee commented on #133
So it's just website, forum and email that need to be reverted?
https://github.com/xbmc/addon-check/pull/118/commits/56d3b9fac8a06d442bdf76d7f722f8e2a58de25e

[2018-10-22 16:50] Razzeee commented on #133
Then again, I would love for broken to be forced to be filled. Same for license.

Why is this required? Or is this a case of us just not wanting to change the wiki (and/or the fallout)?

[2018-10-22 16:52] MartijnKaijser commented on #133
Lets ask the opposite. Why is it disallowed to have an empty tag?

[2018-10-22 16:55] learningit commented on #133
I guess the ultimate check for license is the actual license file itself, otherwise I would think license shouldn't be empty.

[2018-10-22 16:58] MartijnKaijser commented on #133
Yes some are indeed mandatory and other are allowed to be empty. However forcing devs to remove empty tags should not be made compulsory

[2018-10-22 17:02] learningit commented on #133
Agreed

[2018-10-25 11:02] MartijnKaijser commented on #126
There's currently none yet however it's pretty straightforward
Here's a list of identifiers
https://spdx.org/licenses/
For addons they should use something like
`<license>GPL-2.0-or-later</license>`
in the addon.xml and in the python file itself

  This file is part of Kodi - https://kodi.tv

  See LICENSES/README.md for more information.

We should also encourage that this is added to every pytho

[2018-10-25 11:05] MartijnKaijser opened #134 "Add license header to python files in add-on check"
It's encouraged that every python (or whatever) file has a short license reference at the top.

  This file is part of Kodi - https://kodi.tv

  See LICENSES/README.md for more information.

[2018-10-28 11:42] enen92 commented on #133
Can we agree on what tags may be empty? In my opinion:

**Required not empty if used:**
- broken
- news
- source
- license

**May be empty:** (but we should report that they could be filled)
- email
- forum

I still do not understand why this was done. Has it something to do with the wiki or the addon-website?

[2018-11-02 15:05] mzfr commented on #126
@MartijnKaijser by `GPL-2.0-or-later` you mean `GNU GENERAL PUBLIC LICENSE
Version 2, June 199` right?
Also since License will stay same forever,Will hardcoding the `License` text be a problem?

[2018-11-02 15:07] mzfr commented on #134
@MartijnKaijser This one is connected to #126
So now we want to first check if the license exists or not and if it doesn't then we just add it?

[2018-11-02 15:33] MartijnKaijser commented on #134
It's not connected. Add-on checks itself also needs a license header in the Py files

[2018-11-02 15:43] mzfr commented on #134
oh, you mean like files in this tool. I thought we have to add it when we are checking the addons. Sorry, my bad :)

[2018-11-05 14:59] Rechi commented on #60
Here is the script which just checks every commit of a PR separately.
[code]

[2018-11-05 16:14] #91 closed

[2018-11-05 16:14] #128 closed

[2018-11-07 22:07] #43 closed

[2018-11-11 13:24] Razzeee opened #141 "Multiple travis buddy expand here"
For some reason we get multiple "expand here" tag in travis buddy messages https://github.com/xbmc/repo-plugins/pull/2152#issuecomment-437669783

[2018-11-14 09:00] #133 closed

[2018-11-14 15:03] #134 closed

[2018-11-14 15:59] Rechi commented on #126
IMO license tag in addon.xml should be made mandatory before warning about python files which miss a SPDX-License-Identifier-

[2018-11-15 16:21] enen92 opened #145 "Investigate what can be done for gettext .po files"
I think we might need some sort of validation for the language files submitted with the addons. Reason is PR https://github.com/xbmc/repo-scripts/pull/918 in which the headers for GNU gettext are missing. This leads to an error in Kodi's po parser:

[code]

Is anyone familiar with a module that can help us achieving .po validation?

[2018-11-16 12:32] #123 closed

[2018-11-20 11:36] mzfr commented on #145
@enen92 We can use [polib](https://bitbucket.org/izi/polib/wiki/Home)

[2018-11-20 11:39] enen92 commented on #145
yes I saw it. However I think we do something to validate the header in Kodi (according to the PR linked above). I didn't have time yet to check it.

[2018-11-20 12:00] mzfr commented on #145
[code]

Is this the header we are talking about?

[2018-11-20 12:56] enen92 commented on #145
Yes, look for the warning message in the Kodi codebase

[2018-11-22 14:30] tadly opened #147 "TypeError in check_for_existing_addon"
Occurred with [this](https://github.com/xbmc/repo-scripts/pull/953) PR.

For searchability here the traceback:
[code]

[2018-12-05 17:32] enen92 opened #148 "Addons are being validated despite not having xbmc.python"
See: https://github.com/xbmc/repo-scripts/pull/947/files#r239163671

[2018-12-09 15:47] mzfr commented on #147
This is a bit weird. This will only happen if `repo_addons` will be `None`. And repo_addons shouldn't be `None`.

Did we get this kind of error somewhere else also?

[2018-12-10 14:59] mzfr commented on #60
@Rechi This script is all we need to add in the `.travis.yml` file right? or is there any other changes required to fix the issue?

[2018-12-10 17:19] mzfr commented on #147
Getting the same error here: https://travis-ci.org/xbmc/addon-check/jobs/466062485

[2018-12-10 19:32] Rechi commented on #141
I think the reason is that we actually execute [two commands](https://github.com/xbmc/repo-plugins/blob/7e11c17/.travis.yml#L10-L11). If we combine it into one, it should be like before the @TravisBuddy change.

[2019-01-04 10:16] #124 closed

[2019-01-16 09:34] Rechi commented on #141
The `&&` could work if you keep both ifs, but the following is easier to read.
[code]

[2019-01-20 10:47] #148 closed

[2019-01-20 10:50] Razzeee commented on #126
I'm with rechi here, and we need to document this in the wiki first

[2019-01-27 01:12] Razzeee opened #155 "Enable travis buddy `successBuildLog`"
We want the success  messages to also have a log attached and therefore need to configure `successBuildLog` as implemented in https://github.com/bluzi/travis-buddy/pull/145

[2019-01-27 10:42] mzfr commented on #155
@Razzeee that is to be added in the `.travis.yml` files of all the repositories like krypton/leia right?

[2019-01-27 19:41] Razzeee commented on #155
Yes

[2019-01-28 13:58] anxdpanic opened #156 "kodi-addon-checker.log (Found non whitelisted file ending in filename) reported on PR test"
Started integrating TravisCI/addon-check into some repositories, currently quite a few false problems/warnings.
It looks like the ```.git``` folder is ignored in master(which would resolve most false reports), but I don't see anything addressing the log file in master.
See: https://travis-ci.org/jdf76/plugin.video.youtube/jobs/485145419#L520

[2019-01-28 16:25] Razzeee commented on #156
Jep, needs to be ignored by the full name I guess.

Still fells like we need more then `--PR` and not setting that.
As far as I know we have at least three cases:
- Running against a repo
- Running as PR (one addon folder)
- Running it not as a PR against your folder

Might be nicer if we can change that commandline option.
And the things we need to change for the last case should only be removing

[2019-01-28 18:16] Rechi commented on #156
That's exactly the use case of the `--PR` command line argument. It's not expected that you run your checks always with `--PR`. It's only for our repos to check that the version is actually increased in a PR.

[2019-01-28 18:38] anxdpanic commented on #156
Okay, so ```--PR``` shouldn't be used on PR's outside of the official repo?
I'm using it on PR's like in the above log, based on the argument description and https://github.com/xbmc/addon-check/blob/master/.travis-addon.yml.example

[2019-01-28 19:03] Rechi commented on #156
Yes you shouldn't use that. The only location it is used the following (forcing strictly higher version).
https://github.com/xbmc/addon-check/blob/09298318e9423940c0b740e3c5acc775b0d7077a/kodi_addon_checker/check_old_addon.py#L46-L59

[2019-01-29 14:35] anxdpanic commented on #156
@Rechi Thank you for the clarification. I've updated where necessary 👍

[2019-02-01 08:32] Rechi commented on #156
@anxdpanic a new version was released which includes the `.git` folder fix.

[2019-02-05 23:20] anxdpanic commented on #156
I was looking at adding something to resolve the mentioned log/license warnings
I had a couple ideas on how to approach this;

1. ```--exclude-file``` and ```--exclude-file-ext``` to exclude file/folder and extensions from permissions and extension whitelist
2. ```--whitelist-file``` and ```--whitelist-file-ext``` to exclude from extension whitelist
3. both

This would also allow for .pyo/.pyc to

[2019-02-09 15:45] anxdpanic commented on #126
If add-ons are needed to test against, [plugin.video.youtube](https://github.com/xbmc/repo-plugins/tree/isengard/plugin.video.youtube), [plugin.video.twitch](https://github.com/xbmc/repo-plugins/tree/isengard/plugin.video.twitch) and [script.module.python.twitch](https://github.com/xbmc/repo-scripts/tree/isengard/script.module.python.twitch) are all using SPDX license identifiers.

[2019-02-09 21:03] anxdpanic commented on #156
I was able to resolve the initial issue (log and license) within travis ci,
https://github.com/jdf76/plugin.video.youtube/blob/master/.travis.yml#L8
https://travis-ci.org/jdf76/plugin.video.youtube/builds/491055230

[2019-02-10 17:40] anxdpanic commented on #141
Looks like the recent attempt resulted in no expand here, so I gave an idea a try and it seems to do the trick;

.travis.yml used: https://gist.github.com/anxdpanic/5840022701eddd32659bdef4d1772c26
CI log: https://travis-ci.org/anxdpanic/repo-scripts/builds/491295723
TravisBuddy: https://github.com/anxdpanic/repo-scripts/pull/1#issuecomment-462152730

[2019-02-10 23:48] Razzeee commented on #141
thx, updated the repo-script repo for krypton and leia, let's wait if it helps

[2019-03-02 21:48] LordGameleo commented on #123
Is this issue open?? @Razzeee

[2019-03-02 21:59] LordGameleo opened #168 "Reformatting the code base according to PEP style guide"
Code base is not up to date when it comes to following PEP 8 style guide. I would like to make the whole code base follow it. Let me know if  it is a valid issue.
*Checked using:* pylint
*Output when checked:*
[code]
Related Issue: #39

[2019-03-03 19:39] LordGameleo commented on #168
@Razzeee

[2019-03-03 21:26] Razzeee commented on #123
It's not solved, but I think it might not be needed anymore

[2019-03-03 21:27] Razzeee commented on #168
Would be a valid PR, but as that would conflict with all other open PRs I would like to wait with merging it.

[2019-03-03 21:31] mzfr commented on #168
@Razzeee @LordGameleo Don't bother about the line length since we support length 120 in our pycodestyle check

[2019-03-03 21:32] LordGameleo commented on #168
@mzfr but there are many missing docstring

[2019-03-03 21:32] LordGameleo commented on #123
Thanks :)

[2019-03-03 21:54] LordGameleo commented on #168
@Razzeee we can add this point to guideline for new PRs.

[2019-03-04 08:29] Razzeee commented on #168
We're running this on everything.
https://github.com/xbmc/addon-check/blob/master/.travis.yml#L97

Which already should be using pep8 https://pypi.org/project/pycodestyle/

So this might be a bug/misconfig somewhere?

[2019-03-04 08:35] LordGameleo commented on #168
I checked master branch of addon-check with pylint.

[2019-03-04 12:27] mzfr commented on #168
@Razzeee AFAIK pylint is pycodestyle on steroids. It has lots of other checks.

See: http://books.agiliq.com/projects/essential-python-tools/en/latest/linters.html#pylint

The first line of that page basically says
[code]

[2019-03-04 13:20] Razzeee commented on #168
Kinda what I expected. So this is not really about pep8 but more improvements :)

[2019-03-04 19:58] LordGameleo commented on #168
But doc strings are included in PEP

[2019-03-04 23:19] LordGameleo commented on #155
@Razzeee  can I work on this?

[2019-03-05 00:42] Razzeee commented on #168
Well it's running on the ci https://travis-ci.org/xbmc/addon-check/jobs/494757150#L520
Maybe we have something misconfigured or we just switch to pylint.

[2019-03-05 01:19] LordGameleo commented on #168
I can write script for travis. Should I make a new issue for that?

[2019-03-05 07:37] Razzeee commented on #168
Please do

On Tue, Mar 5, 2019, 02:19 Hrithik Adhikari <notifications@github.com>
wrote:

[2019-03-06 20:28] LordGameleo opened #171 "doc strings are missing in lot of modules."
While checking with pylint, it gives a lot of suggestions to add doc strings in the functions.
[code]

[2019-03-07 01:38] mzfr commented on #171
Error on the second line is an import error which is because you don't have the PIL library installed.
Also is it important to write doc string of test functions?

[2019-03-07 08:26] LordGameleo commented on #171
docString are not that important for test functions. Its not just tests that is missing function docString.

[code]

[2019-03-08 18:21] LordGameleo opened #173 "Switching PEP style guideline check from pycodestyle to pylint."
Maybe we have something misconfigured or we just switch to pylint.

_Originally posted by @Razzeee in https://github.com/xbmc/addon-check/issues/168#issuecomment-469486822_

[2019-03-08 18:35] LordGameleo commented on #173
@Razzeee Should I start working on this issue?

[2019-03-08 18:35] LordGameleo commented on #147
@mzfr are you working on this issue?

[2019-03-08 20:48] LordGameleo commented on #145
This issue has already been fixed I guess its best to to close this now.

[2019-03-09 01:30] mzfr commented on #147
You can work on this issue of you want

[2019-03-09 12:52] #145 closed

[2019-03-09 12:53] Razzeee commented on #173
I would recommend to wait until https://github.com/xbmc/addon-check/pull/172 is merged

[2019-03-09 12:55] #171 closed

[2019-03-09 12:56] mzfr commented on #173
@LordGameleo I'll complete the work on that PR by tonight.

[2019-03-09 14:08] LordGameleo commented on #147
@mzfr would you mind briefing me about it.

[2019-03-09 14:11] LordGameleo commented on #173
I will submit it as early as possible

[2019-03-10 00:06] LordGameleo opened #175 "Successfully build the project."
We are shifting from pycodestyle to pylint. There are some errors currently. Those errors have to be taken care of to build the project successfully.

## How to check these errors:
```pylint * --max-line-length=120```

[2019-03-10 00:08] LordGameleo commented on #175
@Razzeee Please check. Should I start working for this?

[2019-03-14 22:01] LordGameleo commented on #175
@Razzeee I am closing this issue and will make issues by disintegrating this into smaller issues.

[2019-03-14 22:01] #175 closed

[2019-03-14 22:04] LordGameleo commented on #168
@Razzeee I am closing this issue as it has already been discussed in #173

[2019-03-14 22:04] #168 closed

[2019-03-14 22:41] LordGameleo commented on #155
@Razzeee Is this issue open? I would like to work on this. I will need your guidance though as I am new to travis-buddy. I will go through its documentation first.

[2019-03-15 10:53] Razzeee commented on #155
I think we want to wait as we don't know if they deployed it to their servers yet.

@Rechi might know

[2019-03-15 11:52] Rechi commented on #155
I don't know if it is already deployed. But I don't think so, as a branch called [prod](https://github.com/bluzi/travis-buddy/tree/prod) doesn't include it.

[2019-03-15 17:19] LordGameleo commented on #155
@Rechi should we wait?

[2019-03-16 07:53] LordGameleo commented on #173
@Razzeee I am closing this issue and creating new issues which solves particular problem of pylint checks we disabled

[2019-03-16 07:53] #173 closed

[2019-03-19 10:44] LordGameleo opened #179 "Adding doc strings to all the modules to get perfect 10 for pylint."
We are currently using a customized checklist for pylint. We have disabled a lot of checks to make our build successfully. We want to counter these checks few at a time. This issue deals with one of them.

## How to produce:

After forking and cloning this repo, make a branch named develop-Pylint_docstring using
``git branch develop-Pylint_docstring``

Checkout branch by
``git checkout develop-Pyl

[2019-03-19 10:46] LordGameleo commented on #179
@Razzeee Please add `first timers only` and `help wanted` label

[2019-03-19 10:51] LordGameleo opened #180 "Remove unused import and variables from all modules."
We are currently using a customized checklist for pylint. We have disabled a lot of checks to make our build successfully. We want to counter these checks few at a time. This issue deals with one of them.

## How to produce:

After forking and cloning this repo, make a branch named develop-Pylint_rm_unused using
``git branch develop-Pylint_rm_unused``

Checkout branch by
``git checkout develop-Pyl

[2019-03-19 10:52] Rechi commented on #180
already done

[2019-03-19 10:52] #180 closed

[2019-03-19 10:57] LordGameleo commented on #179
@Rechi

[2019-03-19 10:57] LordGameleo commented on #179
@Rechi @Razzeee Please add `first timers only` and `help wanted` label

[2019-03-19 11:00] LordGameleo opened #181 "Correct the mentioned pylint errors to get perfect 10. (bad-continuation, and len-as-condition)"
We are currently using a customized checklist for pylint. We have disabled a lot of checks to make our build successfully. We want to counter these checks few at a time. This issue deals with one of them.

## How to produce:

After forking and cloning this repo, make a branch named develop-Pylint_Issue#181 using
``git branch develop-Pylint_Issue#181``

Checkout branch by
``git checkout develop-Pyl

[2019-03-19 11:02] LordGameleo commented on #181
@Rechi @Razzeee Please add first timers only and help wanted label

[2019-03-19 11:18] LordGameleo opened #182 "Correct the mentioned pylint errors to get perfect 10. (too-many-arguments)"
We are currently using a customized checklist for pylint. We have disabled a lot of checks to make our build successfully. We want to counter these checks few at a time. This issue deals with one of them.

## How to produce:

After forking and cloning this repo, make a branch named develop-Pylint_Issue# using
``git branch develop-Pylint_Issue#182``

Checkout branch by
``git checkout develop-Pylint

[2019-03-19 11:25] LordGameleo opened #183 "Correct the mentioned pylint errors to get perfect 10. (no-else-return, duplicate-code,)"
We are currently using a customized checklist for pylint. We have disabled a lot of checks to make our build successfully. We want to counter these checks few at a time. This issue deals with one of them.

## How to produce:

After forking and cloning this repo, make a branch named develop-Pylint_Issue#183 using
``git branch develop-Pylint_Issue#183``

Checkout branch by
``git checkout develop-Pyl

[2019-03-19 11:28] LordGameleo opened #184 "Correct the mentioned pylint errors to get perfect 10(redefined-outer-name)"
We are currently using a customized checklist for pylint. We have disabled a lot of checks to make our build successfully. We want to counter these checks few at a time. This issue deals with one of them.

## How to produce:

After forking and cloning this repo, make a branch named develop-Pylint_Issue#184 using
``git branch develop-Pylint_Issue#184``

Checkout branch by
``git checkout develop-Pyl

[2019-03-19 11:33] LordGameleo opened #185 "Correct the mentioned pylint errors to get perfect 10. (broad-except, too-many-nested-blocks, inconsistent-return-statements,, useless-else-on-loop, too-many-nested-blocks, inconsistent-return-statements)"
We are currently using a customized checklist for pylint. We have disabled a lot of checks to make our build successfully. We want to counter these checks few at a time. This issue deals with one of them.

## How to produce:

After forking and cloning this repo, make a branch named develop-Pylint_Issue#185 using
``git branch develop-Pylint_Issue#185``

Checkout branch by
``git checkout develop-Pyl

[2019-03-19 11:34] LordGameleo opened #186 "too-few-public-methods, invalid-name,"

[2019-03-19 11:43] Rechi commented on #181
already done

[2019-03-19 11:43] #181 closed

[2019-03-19 11:52] LordGameleo commented on #181
@Rechi are all done?

[2019-03-19 18:39] shrawnz commented on #183
(xandr23) Hi, I'd like to pick up this issue

[2019-03-19 18:45] mzfr commented on #183
@shrawnz You can start working on this issue.

[2019-03-19 20:33] shrawnz commented on #185
Hi, I'd like to pick up this issue

[2019-03-19 20:34] shrawnz commented on #184
Hi, I'd like to pick up this issue

[2019-03-20 17:56] anxdpanic commented on #156
This issue was resolved locally and ci outside of kodi-addon-checker

[2019-03-20 17:56] #156 closed

[2019-03-20 19:12] LordGameleo commented on #185
@shrawnz  Yeah feel free to work on this one. Remember to deal with one of these check at once. Separate different checks by using separate commits.

[2019-03-20 19:13] LordGameleo commented on #184
@shrawnz Try to finish previously assigned issues before proceeding. Please check reviewed changes for your PR.

[2019-03-22 08:12] #183 closed

[2019-04-12 10:32] #184 closed

[2019-04-12 16:54] LordGameleo commented on #184
@Rechi why did you close this issue? Is it done in some PR?

[2019-04-13 06:40] Rechi commented on #141
fixed at #194

[2019-04-13 06:40] #141 closed

[2019-06-06 18:04] leopheard opened #197 "How do I even run this application?"
**pip kodi-addon-checker path-to-folder-with-addon-in** doesn't work

[2019-06-06 18:07] mzfr commented on #197
Why are you using `pip` in the starting of the command.

Pip should be used to install this.
To use this run ` kodi-addon-checker path-to-addon`

[2019-06-06 19:03] #197 closed

[2019-06-06 19:29] leopheard commented on #197
I've already installed it.

kodi-addon-checker path-to-addon gives "ERROR: unknown command "kodi-addon-checker".

[2019-06-06 23:03] Razzeee commented on #197
sounds like it was no added to your path, by the installation method. or maybe you installed with for another user? maybe as root?

[2019-07-17 16:12] dagwieers opened #198 "Feature: Ignore .tox and test/ directories"
Currently the tool takes all files into account, even files that are not part of the plugin itself (like supporting infrastructure, its own kodi-addon-checker logfiles or build tools).

The add-on should not assume all files are part of the plugin, and should stick to the files that actually belong to what is distributed. Either by listing those files only (starting from addon.xml) or by accepting

[2019-07-17 16:29] dagwieers commented on #198
Example output that should not be a problem:
[code]

[2019-07-17 17:12] anxdpanic commented on #198
For the logs, run from out of directory.
With travis, most could be resolved as well. ex. https://github.com/jdf76/plugin.video.youtube/blob/master/.travis.yml
https://travis-ci.org/jdf76/plugin.video.youtube/builds/558284685
Cloning master may not be wanted but is easily changed.

[2019-07-18 07:35] Razzeee commented on #198
Both types of files you mention are files that are not necessary for your production build. And one use of this tool is to help making repo checks easier. Reporting on files that should not be included should be a part of this. For e.g. we don't want you to send executeables or powershell scripts, as inclusion would lead to the repo sending these to every user. Causes more to review for us, more b

[2019-07-18 09:26] dagwieers commented on #198
@Razzeee Ignoring my feedback makes the tool unfit for other uses than one specific use-case. And that is fine, but disappointing, as the tool could be useful for more than just that, if you would be open to it. A new option would have sufficed.

(i.e. we don't have powershell scripts or tox files in our build, but the ability to test a source repository, even in Travis, helps addon developers IMO

[2019-07-18 10:01] Razzeee commented on #198
What I meant to highlight in my previous post is that this needs to be context aware. Runs on repos should always be sensitive to these files.

Runs on single addons need to be configurable. You want to both, have travis not fail in day to day and maybe have a release config that checks a tag you created (that might be too late) so you can be sure not to hit that problem when you send the addon.

[2019-07-18 10:09] dagwieers commented on #198
Maybe add an option to not have logs? Travis output or console output is my log.

[2019-07-18 21:53] Razzeee commented on #198
Should be available via the reporter option https://github.com/xbmc/addon-check/blob/8ab6f49768a12063575627c50022ee4713d475db/kodi_addon_checker/config.py#L64
Still docs might need improving

[2019-08-06 09:26] #182 closed

[2019-11-15 12:37] goggle opened #207 "Add option to prevent checking if addon already exists in Kodi addon repository"
This tools tries to establish a internet connection to check if the addon is already available in Kodi's addon repository.
If establish that connection fails, I get this:
[code]
It would be nice to have at least an option provided to prevent that check.

[2020-03-20 08:17] H-KY opened #214 "Wrong for-else loop in test/test_check_addon.py"
I couldn't understand when can the following for-else loop in tests/test_check_addon.py
[code]
ever set flag to False.
Was the intended loop:
[code]

[2020-03-27 02:05] dagwieers opened #218 "EOFError: Compressed file ended before the end-of-stream marker was reached"
We are trying to make **kodi-addon-checker** a lot more reliable to run in a CI workflow (on GitHub CI). Unfortunately we are getting various different issues.

This one is a bit harder to tackle.

- Can we check if the file was correctly downloaded? (check size, checksum, ...?)
- Can we retry if any unarchiving issues happened?

[code]

[2020-03-27 02:37] #198 closed

[2020-04-08 06:39] SylvainCecchetto opened #224 "[bug] Broken addon version comparator with beta"
Since some days (maybe the 0.0.17 release) the add-on version comparator is broken with beta syntax.

My local addon.xml is `0.2.19~beta01` but I get a `ERROR: plugin.video.catchuptvandmore addon already exist with a higher version: 0.2.18 in krypton branch`.

This bug was not here before (at least, it worked with kodi-addon-checker 0.0.16)

[2020-04-08 09:16] Razzeee commented on #224
https://github.com/xbmc/addon-check/pull/216

[2020-04-08 10:21] enen92 commented on #224
Thanks for reporting @SylvainCecchetto

Problem is that `0.2.19~beta01` is not PEP404 compliant, hence the `packaging.version.parse` function parses it as a `packaging.version.LegacyVersion` object instead of a `packaging.version.Version` object. `LegacyVersion` is always lower than `Version` no matter what.

I gave this a test with the Kodi internal versioning system and your version is in fact h

[2020-04-08 19:48] #224 closed

[2020-04-27 15:51] thombet opened #233 "Log file generates a warning when --reporter=log is used"
When I run `kodi-addon-checker --branch leia --reporter=log` there is a warning reported on the log file generated by the addon-checker:
[code]

I think it is wrong and this file should somehow be ignored.
It seems it was already reported in #156 but from what I see in the [final answer](https://github.com/xbmc/addon-check/issues/156#issuecomment-462079242) the reporter closed the issue because he

[2020-04-27 18:42] Razzeee commented on #233
Should be a bug, I think.

[2020-04-27 18:57] anxdpanic commented on #233
iirc I wasn't about using `reporter=log` at that time. I actually solved this locally/travis by not running kodi-addon-checker from within the add-on structure.
ie.
`C:\addons\>kodi-addon-checker C:\addons\plugin.video.youtube\ --branch leia --reporter=log` instead of
`C:\addons\plugin.video.youtube\>kodi-addon-checker --branch leia --reporter=log`
The log will be in C:\addons\ in the first exampl

[2020-04-27 20:53] thombet commented on #233
I didn't think about this workaround @anxdpanic, thank you for the idea. I guess it can be used until the bug is fixed.

Thanks for confirming it @Razzeee. I will probably try to submit a pull request to fix the issue at some point but since I don't know the code at all, any suggestion is welcome :)

[2020-04-28 08:21] Razzeee commented on #233
On the other hand, it's probably correct, if you are building a pipeline which automatically creates your addons and will just zip that folder. @enen92

[2020-05-02 22:28] thombet commented on #233
It turned out to be more complicated than expected especially because:
* the issue is the same with the debug log so it had to be fixed too
* I think the correct behavior is to ignore the files having the same name as the logs but not in the current folder

Anyway I submitted the PR #236 and added more infor there.

[2020-05-30 08:25] enen92 opened #237 "Checker failing for Gettext automatic comments"
See https://github.com/xbmc/repo-scripts/pull/1561

[2020-06-27 12:15] enen92 opened #238 "Checker should error out if no en_gb file is found in translation"
The addon checker should error out if the addon is using the new folder language layout and doesn't include a en_gb strings.po file. This is the case of @sarbes plugin.audio.wdr3konzert/ in matrix where en_US is included: https://github.com/xbmc/repo-plugins/tree/matrix/plugin.audio.wdr3konzert/resources/language. en_GB is the default language for kodi since krypton, so it's presence if the addon

[2020-07-11 16:12] #237 closed

[2020-09-06 09:46] CastagnaIT opened #241 "I can not run addon-check due to script.module.pycryptodome"
If i try to running addon-check on matrix branch
it complain of script.module.pycryptodome

Flow: https://github.com/CastagnaIT/plugin.video.netflix/runs/1077533279

I have see that there is this ignore for Leia, should be added also for Matrix? is this the cause?
https://github.com/xbmc/addon-check/blob/master/kodi_addon_checker/check_dependencies.py#L200

[2020-09-25 06:31] #241 closed

[2020-10-18 17:55] Space2Walker commented on #238
I have a somewhat related issue.
The addonchecker should error with a broken path to the strings.po file, and not say
"INFO: PO files are valid" when kodi cant load them. For more info's see [Kodi-Forum](https://forum.kodi.tv/showthread.php?tid=357782).

[2020-10-18 22:29] anxdpanic commented on #238
I have this staged locally to resolve both issues, needs some refactoring to satisfy pylint. will PR when I have it ready

[2020-10-20 19:33] Space2Walker commented on #238
Thanks for the quick response and fix @anxdpanic.

[2020-10-20 22:38] #238 closed

[2020-11-09 23:26] jbinkley60 opened #246 "Add ability to pass albumid via ListItem.SetInfo Python interface"
Requesting the adding of a feature to allow addons to pass the albumid via Python interface so that the DialogMusic.Info.xml file can then display album information via the Album Information button.  Currently the button is nonworking for Python addons.

Here's a [developer thread ](https://forum.kodi.tv/showthread.php?tid=358200&pid=2987574#pid2987574)on this topic.

Thanks,

Jeff

[2020-11-09 23:30] #246 closed

[2020-11-09 23:30] jbinkley60 commented on #246
I realize I added this into the wrong location.  My apologies.

Jeff